{% extends "base.html.twig" %}

{% block layout %}
<div class="page-container" style="position:relative">
    <div class="spinner-border d-none" role="status"
        style="color:#e77110; width:50px; height:50px; position:absolute; top:50%; left:50%; z-index:1040">
        <span class="sr-only"></span>
    </div>
    <header>
        <div class="header-mobile">
            <div class="toggle-container">
                <span class="toggle" style="font-size:25px;cursor:context-menu;color:white"
                    onclick="openNav()">&#9776;</span>
            </div>
            <a class="logo" href="./">
                <img src={{asset("img/norra_logo_musta_laatikko_1.png")}} alt="">
            </a>
            <a class="shopping-cart d-flex" style="text-decoration:none; position:relative" href="checkout/cart">
                <img src={{asset("img/shopping-cart.png")}} alt="">
                <div class="shopping-cart-summary invisible" style="margin-top:-10px; margin-left:30px">
                    <span class="shopping-cart-items-count text-center"></span>
                    <div class="d-inline">
                        <span class="shopping-cart-total fw-bold"></span>
                        <span style="font-size:10px; color:white" class="d-block text-end">Sis. ALV:n</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="header-desktop">
            <a class="logo" href="/norrahorse/public">
                <img src={{asset("img/norra_logo_musta_laatikko_1.png")}} alt="">
            </a>
            <a class="shopping-cart d-flex" style="text-decoration:none; position:relative"
                href="/norrahorse/public/checkout/cart">
                <img src={{asset("img/shopping-cart.png")}} alt="">
                <div class="shopping-cart-summary invisible" style="margin-top:-10px; margin-left:30px">
                    <span class="shopping-cart-items-count text-center"></span>
                    <div class="d-inline">
                        <span class="shopping-cart-total fw-bold"></span>
                        <span style="font-size:10px; color:white" class="d-block text-end">Sis. ALV:n</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="navigation-bar">
            <a href="#"><b>RUOKINTALASKURI</b></a>
            <a href="#"><b>RUOKINTAVINKIT</b></a>
            <a href={{asset("tuotteet")}}><b>TUOTTEET</b></a>
            <a href="#"><b>YHTEYSTIEDOT</b></a>
            <a href="#"><b>YRITYS</b></a>
        </div>
        <div id="mySidenav" class="sidenav d-lg-none">
            <div style="padding-top:6px;padding-bottom:6px; border-bottom:2px solid lightgray">
                <a href="" onclick="closeNav()" style="cursor:context-menu">
                    <span style="font-size: 32px; color:#e77110">&times</span>
                    <span style="font-size: 12px;">&nbsp VALIKKO </span>
                </a>
            </div>
            <div>
                <a href="#">RUOKINTALASKURI</a>
            </div>
            <div>
                <a href="#">RUOKINTAVINKIT</a>
            </div>
            <div>
                <a href={{asset("tuotteet")}}>TUOTTEET</a>
            </div>
            <div>
                <a href="#">YHTEYSTIEDOT</a>
            </div>
            <div>
                <a href="#">YRITYS</a>
            </div>
            <div>
                <a href="#" style="font-size:12px">PIKATILAUS</a>
            </div>
        </div>
    </header>
    {% block main %}{% endblock %}
    <footer>
        <div class="d-lg-none">
            <div style="font-size:13px" class="accordion_button d-flex align-items-center">
                <b>VERKKOKAUPPA</b>
                <div style="--color:white" class="plus-icon"></div>
            </div>
            <div class="panel">
                <div class="pt-4 pr-4 pb-4">
                    <a style="font-size:13px" class="d-block" href="#">Myynti- ja toimitusehdot</a>
                    <a style="font-size:13x" class="d-block" href="#">Palautukset</a>
                    <a style="font-size:13px" class="d-block" href="#">Käyttöehdot</a>
                    <a style="font-size:13px" class="d-block" href="#">Yhteystiedot</a>
                    <a style="font-size:13px" class="d-block" href="#">Yritys</a>
                </div>
            </div>
            <div style="font-size:13px" class="accordion_button d-flex align-items-center">
                <b>SEURAA MEITÄ</b>
                <div style="--color:white" class="plus-icon"></div>
            </div>
            <div class="panel">
                <div class="pt-4 pr-4 pb-4">
                    <a href="#"><img src={{asset("img/f.png")}} alt=""></a>
                </div>
            </div>
        </div>

        <div style="background-color:#020c10" class="w-100 row p-3 m-0 d-none d-lg-block">
            <div class="d-inline-block col-5">
                <div style="font-size:13px; color:white" class="mt-3 pb-2">
                    <b>VERKKOKAUPPA</b>
                </div>
                <div class="pr-4 pb-4">
                    <a style="font-size:13px" class="d-block" href="#">Myynti- ja toimitusehdot</a>
                    <a style="font-size:13x" class="d-block" href="#">Palautukset</a>
                    <a style="font-size:13px" class="d-block" href="#">Käyttöehdot</a>
                    <a style="font-size:13px" class="d-block" href="#">Yhteystiedot</a>
                    <a style="font-size:13px" class="d-block" href="#">Yritys</a>
                </div>
            </div>
            <div class="d-inline-block col-2 align-top">
                <div style="font-size:13px; color:white" class="mt-3 pb-2">
                    <b>SEURAA MEITÄ</b>
                </div>
                <a href="#"><img src={{asset("img/f.png")}} style="width:15px; height:15px" alt=""></a>
            </div>
        </div>

        <p style="background-color:#020c10; color:white; font-size:12px" class="w-100 text-center pt-3 pb-4 mb-0">
            &copy; 2020 Lantmännen &nbsp; <a href="#">Tietosuojapolitiikka</a> &nbsp; <a href="#">Evästekäytäntö</a>
            &nbsp; <a href="#">Evästeasetukset</a>
        </p>
    </footer>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%"
        $("body").addClass("overflow-hidden")
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0"
        $("body").removeClass("overflow-hidden")
    }
</script>
<script src={{asset("js/footer-accordion.js")}}></script>
<script src={{asset("js/cart.js")}}></script>
<script src={{asset("js/quantity-change-loading.js")}}></script>
{% endblock %}